/* Color Swatch: https://coolors.co/181726-1a182f-030119-3d5a80-98c1d9 */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

a, v:visited {
  color: #98c1d9;
}

pre, code {
  font-family: Monaco, DejaVu Sans Mono, Consolas, monospace;
  font-size: 9pt;
  margin: 15px 0;
}

h1 {
  font-weight: 400;
  font-size: 29px;
  margin: 10px 0 2px;
  padding: 0;
}

h2 {
  font-weight: 400;
  font-size: 25px;
}

h5.license {
  margin: 9px 0 22px;
  color: #555;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
}

.document h1, .namespace-index h1 {
  font-size: 32px;
  margin-top: 12px;
}

#header, #content, .sidebar {
  position: fixed;
}

#header {
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  color: #000;
  padding: 5px 7px;
}

#content {
  top: 32px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #030119;
  color: #fff;
  padding: 0 18px;
}

.sidebar {
  position: fixed;
  top: 32px;
  bottom: 0;
  overflow: auto;
}

.sidebar.primary {
  background: #1a182f;
  border-right: solid 1px #3d5a80;
  left: 0;
  width: 250px;
}

.sidebar.secondary {
  background: #181726;
  border-right: solid 1px #3d5a80;
  left: 251px;
  width: 200px;
}

#content.namespace-index, #content.document {
  left: 251px;
}

#content.namespace-docs {
  left: 452px;
}

#content.document {
  padding-bottom: 10%;
}

#header {
  background: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: lighter;
  text-shadow: -1px -1px 0 #333;
}

#header h1 .project-version {
  font-weight: 400;
}

.project-version {
  padding-left: .15em;
}

#header a, .sidebar a {
  display: block;
  text-decoration: none;
}

#header a {
  color: #f5f5f5;
}

.sidebar a {
  color: #fff;
}

#header h2 {
  float: right;
  font-size: 9pt;
  font-weight: 400;
  margin: 4px 3px;
  padding: 0;
  color: #bbb;
}

#header h2 a {
  display: inline;
}

.sidebar h3 {
  margin: 0;
  padding: 10px 13px 0;
  font-size: 19px;
  font-weight: lighter;
}

.sidebar h3 a {
  color: #fff;
}

.sidebar h3.no-link {
  color: #fff;
}

.sidebar ul {
  padding: 7px 0 6px;
  margin: 0;
}

.sidebar ul.index-link {
  padding-bottom: 4px;
}

.sidebar li {
  display: block;
  vertical-align: middle;
}

.sidebar li a, .sidebar li .no-link {
  border-left: 3px solid transparent;
  padding: 0 10px;
  white-space: nowrap;
}

.sidebar li .no-link {
  display: block;
  color: #fff;
  font-style: italic;
}

.sidebar li .inner {
  display: inline-block;
  padding-top: 7px;
  height: 24px;
}

.sidebar li a, .sidebar li .tree {
  height: 31px;
}

.depth-1 .inner {
  padding-left: 2px;
}

.depth-2 .inner {
  padding-left: 6px;
}

.depth-3 .inner {
  padding-left: 20px;
}

.depth-4 .inner {
  padding-left: 34px;
}

.depth-5 .inner {
  padding-left: 48px;
}

.depth-6 .inner {
  padding-left: 62px;
}

.sidebar li .tree {
  display: block;
  float: left;
  position: relative;
  top: -10px;
  margin: 0 4px 0 0;
  padding: 0;
}

.sidebar li.depth-1 .tree {
  display: none;
}

.sidebar li .tree .top, .sidebar li .tree .bottom {
  display: block;
  margin: 0;
  padding: 0;
  width: 7px;
}

.sidebar li .tree .top {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  height: 19px;
}

.sidebar li .tree .bottom {
  height: 22px;
}

.sidebar li.branch .tree .bottom {
  border-left: 1px solid #aaa;
}

.sidebar.primary li.current a {
  border-left: 3px solid #98c1d9;
  color: #98c1d9;
}

.sidebar.secondary li.current a {
  border-left: 3px solid #98c1d9;
  color: #98c1d9;
}

.namespace-index h2 {
  margin: 30px 0 0;
}

.namespace-index h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.namespace-index .topics {
  padding-left: 30px;
  margin: 11px 0 0;
}

.namespace-index .topics li {
  padding: 5px 0;
}

.namespace-docs h3 {
  font-size: 18px;
  font-weight: 700;
}

.public h3 {
  margin: 0;
  float: left;
}

.usage {
  clear: both;
}

.public {
  margin: 0;
  border-top: 1px solid #3d5a80;
  padding-top: 14px;
  padding-bottom: 6px;
}

.public:last-child {
  margin-bottom: 20%;
}

.members .public:last-child {
  margin-bottom: 0;
}

.members {
  margin: 15px 0;
}

.members h4 {
  color: #555;
  font-weight: 400;
  font-variant: small-caps;
  margin: 0 0 5px;
}

.members .inner {
  padding-top: 5px;
  padding-left: 12px;
  margin-top: 2px;
  margin-left: 7px;
  border-left: 1px solid #bbb;
}

#content .members .inner h3 {
  font-size: 12pt;
}

.members .public {
  border-top: none;
  margin-top: 0;
  padding-top: 6px;
  padding-bottom: 0;
}

.members .public:first-child {
  padding-top: 0;
}

h4.type, h4.dynamic, h4.added, h4.deprecated {
  float: left;
  margin: 3px 10px 15px 0;
  font-size: 15px;
  font-weight: 700;
  font-variant: small-caps;
}

.public h4.type, .public h4.dynamic, .public h4.added, .public h4.deprecated {
  font-size: 13px;
  font-weight: 700;
  margin: 3px 0 0 10px;
}

.members h4.type, .members h4.added, .members h4.deprecated {
  margin-top: 1px;
}

h4.type {
  color: #717171;
}

h4.dynamic {
  color: #93a;
}

h4.added {
  color: #508820;
}

h4.deprecated {
  color: #800;
}

.namespace {
  margin-bottom: 30px;
}

.namespace:last-child {
  margin-bottom: 10%;
}

.index {
  padding: 0;
  font-size: 80%;
  margin: 15px 0;
  line-height: 16px;
}

.index * {
  display: inline;
}

.index p {
  padding-right: 3px;
}

.index li {
  padding-right: 5px;
}

.index ul {
  padding-left: 0;
}

.type-sig {
  clear: both;
  color: #088;
}

.type-sig pre {
  padding-top: 10px;
  margin: 0;
}

.usage code {
  display: block;
  color: #98c1d9;
  margin: 2px 0;
}

.usage code:first-child {
  padding-top: 10px;
}

p {
  margin: 15px 0;
}

.public p:first-child, .public pre.plaintext {
  margin-top: 12px;
}

.doc {
  margin: 0 0 26px;
  clear: both;
}

.public .doc {
  margin: 0;
}

.namespace-index .doc {
  margin-bottom: 20px;
}

.namespace-index .namespace .doc {
  margin-bottom: 10px;
}

.markdown p, .markdown li, .markdown dt, .markdown dd, .markdown td {
  line-height: 22px;
}

.markdown li {
  padding: 2px 0;
}

.markdown h2 {
  font-weight: 400;
  font-size: 25px;
  margin: 30px 0 10px;
}

.markdown h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 30px 0 0;
}

.markdown h4 {
  font-size: 15px;
  margin: 22px 0 -4px;
}

.doc, .public, .namespace .index {
  max-width: 680px;
  overflow-x: visible;
}

.markdown pre>code {
  display: block;
  padding: 10px;
}

.markdown pre>code, .src-link a {
  border: 1px solid #3d5a80;
  border-radius: 2px;
}

.markdown code:not(.hljs), .src-link a {
  background: #181726;
}

pre.deps {
  display: inline-block;
  margin: 0 10px;
  border: 1px solid #3d5a80;
  border-radius: 2px;
  padding: 10px;
  background-color: #1a182f;
}

.markdown hr {
  border-style: solid;
  border-top: none;
  color: #ccc;
}

.doc ul, .doc ol {
  padding-left: 30px;
}

.doc table {
  border-collapse: collapse;
  margin: 0 10px;
}

.doc table td, .doc table th {
  border: 1px solid #ddd;
  padding: 4px 6px;
}

.doc table th {
  background: #f2f2f2;
}

.doc dl {
  margin: 0 10px 20px;
}

.doc dl dt {
  font-weight: 700;
  margin: 0;
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
}

.doc dl dd {
  padding: 5px 0;
  margin: 0 0 5px 10px;
}

.doc abbr {
  border-bottom: 1px dotted #333;
  font-variant: none;
  cursor: help;
}

.src-link {
  margin-bottom: 15px;
}

.src-link a {
  font-size: 70%;
  padding: 1px 4px;
  text-decoration: none;
  /* color: #55b; */
}
